       <h1> Meetings Planned for 2023 </h1>

	<p> This page will contain the latest details of our programme of meetings.</p>


        <table width=100%>
            <colgroup>
                <col width=20% />
                <col width=10% />
                <col width=25% />
		<col width=45% />
	    </colgroup>
	    <thead>
	    <th align="left">When</th>
	    <th align="left">Where</th>
	    <th align="left">Who</th>
	    <th align="left">What</th>
	    </thead>
            <tbody>
            <tr>
               <td>Wednesday XX/1</td>
	            <td>Zoom</td>
               <td>&nbsp;</td>
	            <td>Social</td>
            </tr>
            <tr> 
               <td>Tuesday XX/1</td>
	            <td>Zoom</td>
	            <td>who, callsign</td>
	            <td>>title</td>
	            <td><a href="comingup.html">title</a></td>
	            <td><a href="recent.html#jan2023">title</a></td>
            </tr>
         </tbody>
      </table>
      
<p>Unless specified, Dorking evening meetings are held at the
<a href="https://www.google.com/maps/place/Quakers+Religious+Society+Of+Friends/@51.2306,-0.33362,16z/data=!4m5!3m4!1s0x0:0x2e97984ddf4e6aa2!8m2!3d51.2305996!4d-0.3336198?hl=en-GB" target="_blank">Friends Meeting House</a>,
 Butter Hill (off South Street), on the fourth Tuesday of each month, starting at 7:45 pm.  Zoom Socials start at 8pm.</p>

