   <div class="header">
        <div class="logo_left">
            <a href="index.html">
                <img src="cock.svg">
            </a>
        </div>
        <div class="main">
                <h1>Dorking&nbsp;&amp;&nbsp;District Radio&nbsp;Society</h1>
        </div>
        <div class="logo_right">
            <a href="https://rsgb.org/main" target="_blank">
                <img src="int_ham_radio_sym.svg">
            </a>
        </div>

        <div class="menutop">
            <ul>
                <li><a href="##__tophref__##">##__toptext__##</a></li>
           </ul>
        </div>
    </div>
    <div class="banner"></div>
