   <div class="header">
        <div class="logo_left">
            <img src="cock.svg">
        </div>
        <div class="main">
            <h1>Dorking&nbsp;&amp;&nbsp;District Radio&nbsp;Society</h1>
        </div>
        <div class="logo_right">
            <img src="int_ham_radio_sym.svg">
        </div>

        <div class="menutop">
            <ul>
                <li><a href="##__tophref__##">##__toptext__##</a></li>
           </ul>
        </div>
    </div>
    <div class="banner"></div>
