<!DOCTYPE html>
<html><head>
<meta http-equiv="cache-control" max-age="86400" content="public">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorking &amp; District Radio Society</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <!-- ##__header__## -->
    <div class="clearfix">
        <div class="column menuleft">
            <ul>
                <li><a href="##__lefthref__##" class="##__leftclass__##">##__lefttext__##</a></li>
            </ul>
        </div>
        <div class="column content">
            <!-- ##__content__## -->
        </div>
    </div>
</body></html>
