<h2>Recent Meetings and Events</h2>
<table>
<!--
<tr><td>
<a name="dec2023" />

<h3></h3>
<p><i>XX December 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="nov2023" />

<h3></h3>
<p><i>XX November 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="oct2023" />

<h3></h3>
<p><i>XX October 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="set2023" />

<h3></h3>
<p><i>XX September 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="aug2023" />

<h3></h3>
<p><i>XX August 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="jul2023" />

<h3></h3>
<p><i>XX July 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="jun2023" />

<h3></h3>
<p><i>XX June 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="may2023" />

<h3></h3>
<p><i>XX May 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="apr2023" />

<h3></h3>
<p><i>XX April 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="mar2023" />

<h3></h3>
<p><i>XX March 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="feb2023" />

<h3></h3>
<p><i>XX February 2023</i></p>

<p></p>
</td></tr>
-->
<!--
<tr><td>
<a name="jan2023" />

<h3></h3>
<p><i>XX January 2023</i></p>

<p></p>
</td></tr>
-->
</table>

